@font-face{
	font-family: 'Raleway';
	src: url('font/Raleway-Regular.ttf');}

	@font-face{font-family: 'Raleway-Light';
	src: url('font/Raleway-Light.ttf');
}

body  /*Page Web----------------------------------------------------------------------------------------------------------------*/
{
	color:rgb(0 0 0);
	font-family: Raleway, sans serif;
	background-color: #FFFF;
	margin:0px;
}

p{
	font-family: Raleway-Light;
}

i{
	font-size: 15px;
}

a{
	color: black;
	text-decoration: none;
}

input[type=search]{
	font-family: Raleway;
}

ul{
	list-style-type: none;
}

header{
	width: 100%;
}

.bandeauheader{
	width: 100%;
	display: flex;
	align-items: center;
}

.logobloc{
	width:58%;
	margin-left: 20px;
}

.inscrireheader{
	width: 10%;
}

.nav3{
	color:  #0065FC;
	padding: 30px 0px 30px 30px;
	font-weight: bold;
}

#navigation{
	display: flex;
	font-size: 1.1rem;
	width: 30%;
}

.navbloc{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.nav1 , .nav2{
	padding: 35px;
	width: 33%;
	text-align: center;
}

.nav1:hover, .nav2:hover{
	transition: all 0.1s cubic-bezier(.25,.8,.25,1);
	border-top: 3px solid #0065FC;
	color:#0065FC;
	padding-top: 25px;
}

#entete{
	width: 70%;
	margin-top: 40px;
	margin-left: 20px;
}

#search{
	display: flex;
	position: relative;
	bottom: 10px;
}

.descriptiontitleheader{
	font-size: 1.1rem;
	font-family: Raleway-Light;
	position: relative;
	bottom: 12px;
}

.maps{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-align: center;
	border:1px solid #F2F2F2;
	width: 30px;
	height: 30px;
	padding: 10px;
	background-color: #F2F2F2;
	border-radius: 15px 0px 0px 15px ;
}

input{
	font-size: 16px;
	border:1px solid #F2F2F2 ;
	width: 230px;
	height: 52px;
}

.Boutonderecherche{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: Raleway-Light;
	font-size: 16px;
	text-align: center;
	border:1px solid #0065FC;
	width: 110px;
	height: 30px;
	padding: 10px;
	border-radius: 0px 15px 15px 0px;
	background-color: #0065FC;
	}

.louperecherche{
	display: none;
}

#Filter{
	display: flex;
	margin-left: 20px;
	width:90%;
	margin-top: 20px;

}

.titlefilter{
}

.Listefiltres{
	display: flex;
	font-size: 20px;
}

.filterbloc{
	margin-left: 20px;
	padding: 10px;
}

.Money{
	border:solid 2px #DEEBFF;
	padding: 10px 12px 12px 0px;
	border-radius: 50px 50px 50px 50px;
	transition :  0.2s ease-in-out;
  	transition-property : background;
	}

.money_icon{
	font-size: 16px;
	color: #0065FC;
	border-radius: 50%;
	background: #DEEBFF;
	padding: 16px;
	margin-right: 3px;
	position: relative;
	right: 3px;
}

.Family{
	border:solid 2px #DEEBFF;
	padding: 10px 12px 12px 0px;
	border-radius: 50px 50px 50px 50px;
	transition :  0.2s ease-in-out;
  	transition-property : background;
}

.family_icon{
	font-size: 16px;
	color: #0065FC;
	border-radius: 50%;
	background: #DEEBFF;
	padding: 16px;
	margin-right: 3px;
	position: relative;
	right: 3px;
}

.Love{
	border:solid 2px #DEEBFF;
	padding: 10px 12px 12px 0px;
	border-radius: 50px 50px 50px 50px;
	transition :  0.2s ease-in-out;
  	transition-property : background;
}

.Love_icon{
	font-size: 16px;
	color: #0065FC;
	border-radius: 50%;
	background: #DEEBFF;
	padding: 16px;
	margin-right: 3px;
	position: relative;
	right: 3px;
}

.Pet{
	border:solid 2px #DEEBFF;
	padding: 10px 12px 12px 0px;
	border-radius: 50px 50px 50px 50px;
	transition :  0.2s ease-in-out;
  	transition-property : background;
}

.Pet_icon{
	font-size: 16px;
	color: #0065FC;
	border-radius: 50%;
	background: #DEEBFF;
	padding: 16px;
	margin-right: 3px;
	position: relative;
	right: 3px;
}

.Money:hover, .Family:hover, .Love:hover, .Pet:hover{
	background-color:  #DEEBFF;
}


.Result /*Résultat de recherche-------------------------------------------------------------------------------------------*/
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px; 
	margin-left: 20px;
	font-size: 1.1rem;
	font-family: Raleway-Light;
}

.info{
	font-size: 11px;
	text-align: center;
	color: #0065FC;
	border-radius: 50%;
	border: 2px solid #F2F2F2 ;
    width:22px;
    background:white;
    height:17px;
    padding-top: 5px;
    margin-right: 10px;
}

.nombre{
	color: black;
	position: absolute;
	top:8px;
	left:60px;
}

.cadrehebergements{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
}

#lodging{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	width: 70%;
	height:550px;
	border-radius: 15px;
	padding:10px;
	margin:20px;
}

.titrelodging{	
	margin:20px;
}


#lodginggrid{
	display: grid;
	grid-template-columns: repeat(3, 30%);
	grid-template-rows: repeat(2, 40%);
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	justify-content:center;	
	align-items: center;
	padding: 20px;
	height: 500px;
}

.lodgingcard1{
	display: flex;
	flex-direction: column;
	grid-area: 1 / 1 / 2 / 2;
	border: 3px solid white;
	border-radius: 15px;
	background: white;
	width: 100%;
	height: 100%;
	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.lodgingcard2{
	display: flex;
	flex-direction: column;
	grid-area: 1 / 2 / 2 / 3;
	border: 3px solid white;
	border-radius: 15px;
	background: white;
	width: 100%;
	height: 100%;
	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.lodgingcard3{
	display: flex;
	flex-direction: column;
	grid-area: 1 / 3 / 2 / 4;
	border: 3px solid white;
	border-radius: 15px;
	background: white;
	width: 100%;
	height: 100%;
	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.lodgingcard4{
	display: flex;
	flex-direction: column;
	grid-area: 2 / 1 / 3 / 2;
	border: 3px solid white;
	border-radius: 15px;
	background: white;
	width: 100%;
	height: 100%;
	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.lodgingcard5{
	display: flex;
	flex-direction: column;
	grid-area: 2 / 2 / 3 / 3;
	border: 3px solid white;
	border-radius: 15px;
	background: white;
	width: 100%;
	height: 100%;
	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.lodgingcard6{
	display: flex;
	flex-direction: column;
	grid-area: 2 / 3 / 3 / 4;
	border: 3px solid white;
	border-radius: 15px;
	background: white;
	width: 100%;
	height: 100%;
	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.lodgingcard1:hover, .lodgingcard2:hover, .lodgingcard3:hover, .lodgingcard4:hover, .lodgingcard5:hover, .lodgingcard6:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transform: scale(1.01);
}

.blocimglodging{
	width: 100%;
	height: 80%;
	overflow: hidden;

}

.imglodging{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

}

.imgdescription{
	display: flex;
	flex-direction: column;
	background: white;
	position: relative;
	bottom: 10px;
	z-index: 1;
	height: 30%;
	padding-bottom: 5px;
}

.namecardlodging{
	position: relative;
	bottom: 10px;
	width: 100%;
	padding-left: 10px;
}

.Afficher{
	position: relative;
	bottom: 50px;
	margin: 20px;
}

.checked{
	color:#0065FC;
	font-size: 12px;
}

.unchecked{
	color: #DEEBFF;
	font-size: 12px;
}

#popular{
	display: flex;
	flex-direction: column;
	margin: 20px;
	padding: 10px;
	border-radius: 15px;
	background-color: #F2F2F2;
	width: 30%;
	height: 550px;
}

.Title_popular{
	width: 100%;
	display: flex;
	justify-content: space-between;
}


.titlepopular{
	text-align: center;
	margin-top: 20px;
	margin-left: 10px;
}

.chart{
	font-size: 20px;
	text-align: center;
	align-self: center;
	margin: 10px 10px 0px 10px;
}

.asidepopdirection{
	display: grid;
	grid-template-columns: 30%;
	grid-template-rows: repeat(3, 150px);
	grid-column-gap: 0px;
	grid-row-gap: 20px;
	align-items: center;
}

.blocimgpop{
	width: 40%;
	margin-right: 20px;
}

.imgpop{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-bottom-left-radius:15px;
}

.bandeaublocpop{
	display: flex;
	flex-direction: column;
	width: 60%;
}

.rateblocpop{
	position: relative;
	bottom: 5px;
}

.bloctxtpop1{
	position: relative;
	bottom: 10px;
}

.rateblocpop1{
	position: relative;
	bottom: 10px;
}

.pricepop{
	position: relative;
	bottom:10px;
}
.pop1{
	display: flex;
	flex-direction: row;
	grid-area: 1 / 1 / 2 / 2;
	margin : 20px 20px 10px 20px;
	border: 3px solid white;
	border-radius: 15px;
	background: white;
	width: 90%;
	height: 130px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.pop2{
	display: flex;
	flex-direction: row;
	grid-area: 2 / 1 / 3 / 2;
	margin : 20px 20px 10px 20px;
	border: 3px solid white;
	border-radius: 15px;
	background: white;
	width: 90%;
	height: 130px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.pop3{
	display: flex;
	flex-direction: row;
	grid-area: 3 / 1 / 4 / 2;
	margin : 20px 20px 10px 20px;
	border: 3px solid white;
	border-radius: 15px;
	background: white;
	width: 90%;
	height: 130px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.pop1:hover , .pop2:hover , .pop3:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transform: scale(1.01);
}

#Activités{
width: 95%;
margin-bottom: 80px;
margin-top: 40px;
margin-left: 25px;
}

.Title_bloc_activités{
	margin-left: 20px;
}

.Gridcard{
display: grid;
grid-column-gap: 20px;
grid-row-gap: 20px;
height: 550px;
}


.Card_vieuxport{

  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

 }

.Card_calanques {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 3 / 3 / 4;
  border-radius: 15px;

  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.Card_pomègues{
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 15px;
  
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
} 
.Card_notredame{
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / 3 / 3;
  border-radius: 15px;
  
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
} 
.Card_frioul{
  display: flex;
  flex-direction: column;
  grid-area: 1 / 4 / 2 / 5;
  border-radius: 15px;
 
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.Card_longchamp{ 

  display: flex;
  flex-direction: column;
  grid-area: 2 / 4 / 3 / 5;
  border-radius: 15px;
  
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); }

 .Card_vieuxport:hover ,.Card_pomègues:hover, .Card_calanques:hover, .Card_notredame:hover, .Card_frioul:hover, .Card_longchamp:hover{
  
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transform: scale(1.01);
 }



.element1, .element3{
  height: 100%;
}

.element4, .element5{
  height: 100%;
}

.element2, .element6{
  height: 80%;
}

.imgvieuxport, .imgcalanques, .imgpomègues, .imgnotredame, .imgfrioul, .imglongchamp{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.Titlecard{
  margin-left: 20px;
 }

footer{
		background-color: #F2F2F2;
		width: 100%;
		height: 220px;
		color: black;
		margin-top: 40px;
		}

		.blocfooter{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			width: 80%;
		}

		#à_Propos{
			margin: 10px;
			width: 40%;
		}

		#Nos_hébergements , #Assistance{
			margin: 10px;
			width: 30%;
		}

		#Assistance{
			padding-left: 40px;
		}

		.site{
			margin-top: 10px;
		}

@media (max-width:1000px){

	.Listefiltres{
		display: flex;
		flex-wrap: wrap;
	}

	#Filter{
		margin-right: 0px;
	}

	.cadrehebergements{
		display: flex;
		flex-direction: column;
	}

	#lodging{
		order: 2;
		width: 95%;
	}

	#lodginggrid{
	display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 40%);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 500px;
    width: 95%;
	}

	#popular{
		order: 1;
		width: 95%;
	}

	.blocimgpop{
		width: 50%;
	}

	.asidepopgrid{
		display: flex;
		flex-direction: column;
	}

	#Activités {
    width: 95%;
    margin-bottom: 80px;
    margin-top: 40px;
    position: relative;
    left: 0px;
	}

	.Gridcard{
		width: 100%;
	}

	.imgfrioul{
		height: 265px;
	}
	.element5{
		height: 300px;
	}
	footer{
		height: 220px;
	}
}

@media (max-width: 800px){

.logobloc{
width: 40%;
}

#navigation{
width: 60%;
}

.navbloc{
width: 100%;
}

.inscrireheader{
width: 25%;
}

#popular{
width: 95%;
height: 600px;
margin: 0px;
margin-left: 10px;
}

#lodging{
display: flex;
flex-direction: column;
background: white;
height: 800px;
margin: 0px;
}

#lodginggrid{	
display: grid;
grid-template-columns: repeat(2, 50%);
grid-template-rows: repeat(3, 40%);
grid-column-gap: 30px;
grid-row-gap: 30px;
justify-content:center;	
align-items: center;
width: 95%;
padding: 10px;
margin-left: 20px;
}

.lodgingcard1{
grid-area: 1 / 1 / 2 / 2;
width: 100%;
}

.lodgingcard2{
grid-area: 1 / 2 / 2 / 3;
width: 100%;
}

.lodgingcard3{
grid-area: 2 / 1 / 3 / 2;
width: 100%;
}

.lodgingcard4{
grid-area: 2 / 2 / 3 / 3;
width: 100%;
}

.lodgingcard5{
grid-area: 3 / 1 / 4 / 2;
width: 100%;
} 

.lodgingcard6{
grid-area: 3 / 2 / 4 / 3; 
width: 100%;
}

.Afficher{
margin: 10px;
position: relative;
top: 180px;
}

.Title_bloc_activités{
position: relative;
left: 20px;
}

#Activités{
width: 95%;
height: 900px;
margin-left: 10px;

}

.Gridcard{
display: grid;
grid-template-columns: repeat(2, 50%);
grid-template-rows: repeat(3, 25%);
grid-column-gap: 30px;
grid-row-gap: 30px;
width: 89%;
padding:30px;
height:1000px;
}

.Card_vieuxport{
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 100%;
 }
.Card_calanques {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.Card_pomègues{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  grid-area: 2 / 1 / 3 / 2;
  overflow: hidden;
} 
.Card_notredame{
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / 3 / 3;
  border-radius: 15px;
  overflow: hidden;
} 
.Card_frioul{
  display: flex;
  flex-direction: column;
  grid-area: 3 / 1 / 4 / 2;
  border-radius: 15px;
  overflow: hidden;
}
.Card_longchamp{ 
  display: flex;
  flex-direction: column;
  grid-area: 3 / 2 / 4 / 3;
  border-radius: 15px;
  overflow: hidden;
}

.imgvieuxport, .imgcalanques, .imgpomègues, .imgnotredame, .imgfrioul, .imglongchamp{
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.blocfooter{
  width: 100%;
}
}

@media (max-width:600px){

body{
margin :0px;
width: 100%;
height: 100%;
}

header{
width: 100%;
}

.bandeauheader{
margin-top: 10px;
width: 100%;
height: 150px;
display: flex;
flex-direction: column;
}

.logobloc{
order: 1;
position: relative;
right: 130px;
}

#entete {
position: relative;
bottom: 90px;
}


input{
	width: 50%;
}

.inscrireheader{
	order: 2;
	display: flex;
	position: relative;
	bottom: 60px;
	left: 200px;
	margin-right: 20px;
}

#search{
	position: relative;
    bottom: 50px;
}

.cadrehebergements{
	position: relative;
	bottom: 120px;
}

.nav3{
	color:  #0065FC;
	padding: 30px;
	font-weight: bold;
	align-self: center;
}

#navigation{
	order: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.navbloc{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	width: 100%;
	position: relative;
	bottom: 80px;
}

.nav1{
	color: #0065FC;
	text-align: center;
	border-bottom: 5px solid #0065FC;;
	padding-bottom: 20px;
	width: 50%;
}

.nav2{
	text-align: center;
	border-bottom: 5px solid #F2F2F2;
	padding-bottom: 20px;
	width: 50%;
}


.nav1:hover, .nav2:hover{
	border-top:none;
	transition: all 0.1s cubic-bezier(.0,.0,.0,0);
	font-weight: bold;
}

#entete{
	width: 95%;
	margin-top: 100px;
	margin-left: 20px;
}

.titleentete{
	width: 90%;
}

.descriptiontitleheader{
	font-family: Raleway-Light;
	position: relative;
	bottom: 12px;
	margin-bottom: 40px;
	padding-bottom: 40px;
}


#Filter{
	width:95%;
	margin-top: 40px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	bottom: 150px;
}

.Result{
   position: relative;
    bottom: 140px;
}

.titlefilter{
}

.Listefiltres{
width: 80%;
display: flex;
flex-wrap: wrap;
align-items: center;
}

.titrelodging{
margin-left: 20px;
}

#lodging{
display: flex;
flex-direction: column;
background: white;
height: 1400px;
padding: 0px;
margin:0px;
width: 100%;
}

#popular {
    width: 100%;
    height: 600px;
    margin: 0px;
    padding: 0px;
}

.Title_popular {
    width: 90%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    }

#lodginggrid{
display: grid;
grid-template-columns: 95%;
grid-template-rows: repeat(6, 35%);
grid-row-gap: 40px;
margin: 0px;}

.lodgingcard1{
grid-area: 1 / 1 / 2 / 2;
width: 100%;
}

.lodgingcard2{
 grid-area: 2 / 1 / 3 / 2; 
width: 100%;
}

.lodgingcard3{
grid-area: 3 / 1 / 4 / 2; 
width: 100%;
}

.lodgingcard4{
grid-area: 4 / 1 / 5 / 2;
width: 100%;
}

.lodgingcard5{
grid-area: 5 / 1 / 6 / 2;
width: 100%;
} 

.lodgingcard6{
grid-area: 6 / 1 / 7 / 2;
width: 100%;
}

.Afficher{
position: relative;
top: 770px;
left: 20px;
margin: 0px;
margin-left: 20px;
width: 90%;
}

#Activités{
width: 95%;
height: 1700px;
position: relative;
bottom: 150px;
margin-left: 20px;
}

.Title_bloc_activités {
    margin-left: 20px;
    margin-top: 50px;
    position: relative;
    left: 0px;

    }

.Gridcard{
display: grid;
justify-content: flex-start;
grid-template-columns: 110%;
grid-template-rows: repeat(6, 25%);
grid-row-gap: 40px;
padding: 0px;

}

.Card_vieuxport{
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 100%;
 }
.Card_calanques {
  display: flex;
  flex-direction: column;
  grid-area: 4 / 1 / 5 / 2;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.Card_pomègues{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  grid-area: 2 / 1 / 3 / 2;
  overflow: hidden;
} 
.Card_notredame{
  display: flex;
  flex-direction: column;
  grid-area: 5 / 1 / 6 / 2;
  border-radius: 15px;
  overflow: hidden;
} 
.Card_frioul{
  display: flex;
  flex-direction: column;
  grid-area: 3 / 1 / 4 / 2;
  border-radius: 15px;
  overflow: hidden;
}
.Card_longchamp{ 
  display: flex;
  flex-direction: column;
  grid-area: 6 / 1 / 7 / 2;
  border-radius: 15px;
  overflow: hidden;
}

footer{
width: 100%;
position: relative;
bottom: 80px;
height: 500px;
}

.blocfooter{
position: relative;
height: 550px;
background: #F2F2F2;
top: 30px;
display: flex;
flex-direction: column;
width: 100%;
}

#à_Propos{
width: 90%;			
padding-top: 10px;
padding-bottom: 10px;
}

#Nos_hébergements , #Assistance{
width: 90%;
}

#Assistance{
position: relative;
right: 40px;
}

.titleblocfooter{
position: relative;
bottom: 10px;
width: 100%;
}

.site{
margin-top: 10px;
}
}

@media (max-width: 425px){

body{
	width: 100%;
}
.bandeauheader{
	margin-top: 20px;
}
.logobloc{
	position: relative;
	right: 100px;

}
.inscrireheader{
	position: relative;
	bottom: 60px;
	left: 150px;
	margin-right: 0px;
}
.nav3{
	padding-right: 0px;
}

input{
	width: 40%;
}

#Filter{
	width: 95%;
}

.Listefiltres{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 95%;
}

.titlefilter{
	width: 95%;
}
.cadrehebergements{
	width: 100%;
	justify-content: center;
}

.titrelodging {
    position: relative;
    left: 10px;
}

#lodging{
display: flex;
flex-direction: column;
background: white;
height: 1320px;
padding: 0px;
margin:0px;
margin-left: 5px;
width: 95%;
}

#lodginggrid{
display: grid;
justify-content: center;
grid-template-columns: 100%;
grid-template-rows: repeat(6, 35%);
grid-row-gap: 20px;}

.Afficher{
position: relative;
top: 670px;
left: 0px;
margin-left: 20px;
}

.titrelodging, .Title_popular, .Title_bloc_activités{
   font-size: 20px;
}

.imgdescription {
    height: 33%;
}

.namecardlodging {
    position: relative;
    bottom: 10px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
}

#popular{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius:0px;
	background-color: #F2F2F2;
	width: 100%;
	height: 600px;
	margin: 0px;
	padding: 0px;
}

.pop1, .pop2, .pop3{
	margin: 20px 10px 10px 20px;
}

.titlepopular{
	margin-left: 20px;
}

.chart{
	margin-right: 10px;
}

#Activités{
	margin-left: 12px;
	height: 1120px;
	width: 95%;
}
.Title_bloc_activités {
    margin-left: 0px;
}

.Gridcard{
display: grid;
grid-template-columns: 110%;
grid-template-rows: repeat(6, 17%);
grid-row-gap: 20px;
}

.imgvieuxport, .imgcalanques, .imgpomègues, .imgnotredame, .imgfrioul, .imglongchamp{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.Titlecard {
    position: relative;
    bottom: 43px;
    left: 0px;
    padding: 15px;
    margin: 0px;
    background: white;
}

.element2, .element6{
  height: 100%;
}

.checked{
	color:#0065FC;
	font-size: 10px;
}

.unchecked{
	color: #DEEBFF;
	font-size: 10px;
}
}

@media (max-width: 375px){

.bandeauheader{
	margin-top: 20px;
}

.logobloc {
    position: relative;
    right: 95px;
}

.inscrireheader {
    position: relative;
    bottom: 60px;
    left: 120px;
}

#entete{
	width: 90%;
}
.titleentete{
	font-size: 22px;
	margin-bottom: 10px;
}

.descriptiontitleheader{
	font-size: 16px;
	position: relative;
	top: 3px;
}
.nav1{
	font-size: 16px;
	border-bottom: solid #0065FC 3px;
}
 .nav2{
 	font-size: 16px;
 	border-bottom: solid #F2F2F2 3px;
 }
#search{
	width: 100%;
	display:flex;
}

.Boutonderecherche{
	display: none;
}

input{
	width: 70%;
}

.louperecherche{
	display: flex;
	z-index: 1;
	width: 15%;
}

.loupe{
	width: 100%;
	color: white;
	padding: 15px;
	background: #0065FC;
	border-radius: 15px 15px 15px 15px;
	position: relative; 
	right: 15px;
	font-size: 20px;
}
.maps{
	    background-color: #F2F2F2;
}

#Filter{
	width:90%;
}

.titlefilter{
	font-size: 18px;
}

.money_icon, .family_icon, .Love_icon, .Pet_icon{
	font-size: 15px;
	padding: 14px;
}

.filterbloc{
	font-size: 15px;
	margin-left: 10px;
}

.Result{
	font-size: 16px;
}

.info{
	width: 30px;
	position: relative;
	bottom: 5px;
}

#popular{
	background: #F2F2F2;
	height: 575px;
	width: 100%;
}

.asidepopgrid{
	position: relative;
	right: 5px;
}

.chart{
	position: relative;
	right: 15px;
	font-size: 20px;
}
.pop1, .pop2, .pop3{
	margin: 10px 20px 5px 20px;
}

.titlepopular {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}

#lodging{
	height: 1300px;
	position: relative;
	left: 10px;
}

#lodginggrid{
padding: 0px;
margin: 0px;
justify-content: center;
}

#Gridcard{
padding: 1px}

.Afficher{
position: relative;
    top: 660px;
    left: 0px;
    margin-left: 10px;
    margin-top: 10px;
}

.titrelodging{
    font-size: 20px;
    width: 90%;
    margin-left: 10px;
    position: relative;
    left: 0px;
}

.element2, .element6{
  height: 100%;
}

.Titlecard {
    position: relative;
    bottom: 43px;
    left: 0px;
    padding: 15px;
    margin: 0px;
    background: white;
    font-size: 16px;
}

#Activités {
    height: 1120px;
    position: relative;
	right: 5px;
}

.Title_bloc_activités{
	margin-bottom: 20px;
	margin-left: 10px;
}
}

@media (max-width: 325px){

.bandeauheader{
	margin-top: 20px;
}

.inscrireheader{
	position: relative;
	left: 90px;
}

.pop1, .pop2, .pop3 {
    margin: 10px 0px 5px 20px;
}

.logobloc{
	position: relative;
	right:80px;
}

#search{
	position: relative;
	right: 5px;
}

.bloctxtpop1 {
    position: relative;
    bottom: 0px;
    height: 80%;
}

.rateblocpop {
    position: relative;
    top: 0px;
}

.rateblocpop1 {
    position: relative;
    bottom: 20px;
}

.Afficher {
    position: relative;
    top: 670px;
}

.Title_popular {
    width: 90%;
    margin-left: 0px;
}

.nav1, .nav2{
	width: 50%;
	padding-left:30px;
}

.chart {
    position: relative;
    right: 0px;
    margin-right:0px;
}

#Activités {
    height: 1050px;
    }
}
